In [1]:
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [8]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split

In [7]:
data=pd.read_csv(path,header=None,names=['sepal_length','sepal_width','petal_length','petal_width','class'])
data.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [9]:
train,test=train_test_split(data,test_size=0.2)

In [11]:
train.head(2)

    sepal_length  sepal_width  petal_length  petal_width            class
76           6.8          2.8           4.8          1.4  Iris-versicolor
46           5.1          3.8           1.6          0.2      Iris-setosa

In [12]:
test.head()

     sepal_length  sepal_width  petal_length  petal_width            class
54            6.5          2.8           4.6          1.5  Iris-versicolor
61            5.9          3.0           4.2          1.5  Iris-versicolor
127           6.1          3.0           4.9          1.8   Iris-virginica
114           5.8          2.8           5.1          2.4   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica